<p>pipes-demo works!</p>


pipe coponent

upper and lowr case
<h1>{{batsman | uppercase}}</h1>
<h1>{{batsman | lowercase}}</h1>

currency pipe
<h1>{{salary | currency:'CAD'}}</h1>


percentage pipe
<h1>{{mod | percent}}</h1>


date pipe
<h1>{{dateInfo | date}}</h1>
<h1>{{dateInfo | date:'short'}}</h1>
<h1>{{dateInfo | date: "shortTime"}}</h1>
<h1>{{dateInfo | date: "long"}}</h1>
<h1>{{dateInfo | date: "medium"}}</h1>
<h1>{{dateInfo | date: "shortDate"}}</h1>

ellipses pipe custome pipes

<p>{{description | ellipsis}}</p>